<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup Form</title>
</head>
<body>
  <h2>Signup</h2>
  <form action="/signup/" method="post">
    <label for="signup-username">Username:</label><br>
    <input type="text" id="signup-username" name="username" required><br><br>

    <label for="signup-email">Email:</label><br>
    <input type="email" id="signup-email" name="email" required><br><br>

    <label for="signup-password">Password:</label><br>
    <input type="password" id="signup-password" name="password" required><br><br>

    <input type="submit" value="Signup">
  </form>
</body>
</html>
